<div class="container animated fadeIn">
  <div class="row d-flex mt-5">
    <div class="col-12">
      <h4>Acer de nosotros</h4>
      <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ullam labore,animi quas pariatur saepe iure nam in est repellendus quos. Aliquid earum consequatur porro, provident totam aut quibusdamad. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ducimus, vero velit quisquam accusantium ipsam unde natus fugit nisi omnis reiciendis molestiae sunt sint cupiditate dolorem, possimus totam dolorum eveniet?
      </p>
      <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ullam labore,animi quas pariatur saepe iure nam in est repellendus quos. Aliquid earum consequatur porro, provident totam aut quibusdamad. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ducimus, vero velit quisquam accusantium ipsam unde natus fugit nisi omnis reiciendis molestiae sunt sint cupiditate dolorem, possimus totam dolorum eveniet?
      </p>
    </div>
  </div>
  <div class="row about-img">
    <div class="col-12">
      <img src="./assets/img/Batman.jpg">
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-12 text-center">
      <p>Recuerda que puedes revisar mis demas repositorios</p>
      <a class="myGitHub" target="_blank" href="https://github.com/JasonLimonB?tab=repositories">Visitame</a>
    </div>
  </div>
</div>
