<div class="jumbotron jumbotron-fluid animated fadeIn">
  <div class="container">
    <h1 class="display-4">Bienvenido a mi app en Angular</h1>
    <p>Esta es la parte del inicio o home</p>
  </div>
</div>

<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h2>Gracias por descargar mi repositorio</h2>
      <p>Espero te sirva para practicar y saber el funcionamiento básico de Angular</p>
      <p>Ten en cuenta que no me preocupe mucho por el diseño ya que lo que mas me interesa es el saber lo básico de Angular como rutas, servicios, pipes, rutas con parámetros así como la comunicación entre componentes.</p>
    </div>
  </div>
</div>
