.form-inp{
  border: 1px solid #bbb8b8;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  outline: none;
  transition: 0.4s all ease;
}

.form-inp:focus{
border: 1px solid #3273DC;
width: 200px;
transition: 0.4s all ease;
}

.mybtn{
  border: 1px solid #3273DC;
  background: #fff;
  color: #6b6b6b;
}

.mybtn:hover{
  background: #3273DC;
  color: #fff;
}
